APP_NAME=CampusHub
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

# Supabase PostgreSQL Database
# Salin connection string dari Supabase > Connect > Session Pooler.
DB_CONNECTION=pgsql
DB_URL=postgres://postgres.PROJECT_REF:[YOUR-PASSWORD]@aws-0-REGION.pooler.supabase.com:5432/postgres

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file
QUEUE_CONNECTION=sync

# Supabase Authentication/API
SUPABASE_URL=https://PROJECT_REF.supabase.co
SUPABASE_ANON_KEY=ISI_ANON_PUBLIC_KEY

# Supabase Storage S3
# Ambil S3 access key pada Supabase Storage > S3 Connection.
SUPABASE_STORAGE_KEY_ID=ISI_ACCESS_KEY_ID
SUPABASE_STORAGE_SECRET_ACCESS_KEY=ISI_SECRET_ACCESS_KEY
SUPABASE_STORAGE_REGION=ap-south-1
SUPABASE_STORAGE_ENDPOINT=https://PROJECT_REF.storage.supabase.co/storage/v1/s3

SUPABASE_BUCKET_PROFILE=profile-photos
SUPABASE_BUCKET_MATERI=materi-files
SUPABASE_BUCKET_EVENT=event-images
SUPABASE_BUCKET_DRIVE=drive-files

VITE_APP_NAME=CampusHub
